<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	 <appenders>
        <RollingFile name="RollingFile" fileName="logs/app.log" filePattern="logs/app-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </appenders>
	
	<Loggers>
		<Root level="Info"><!-- Here you can use multiple log levels All < Trace < Debug< Info < Warn<Error < Fatal < Off -->
			<!-- <AppenderRef ref="Console"/>-->
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>
</Configuration>